{# src/CIS/Bundle/CompentencyBundle/Resources/views/Default/index.html.twig #}

{% extends "CISWebsiteBundle:Default:index.html.twig" %}

{% block content %}
    <p>Welcome to the Compentency Browser Home Page.</p>
{% endblock %}